// .stuff-grid {
//   width: 80%;
//   margin: auto;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
// .thing-pane {
//   transition: transform 0.3s ease-in-out;
//   position: relative;
//   width: 270px;
//   height: 270px;
//   margin: 5px;
//   background-size: cover;
//   background-position: center;
//   box-shadow: 1px 1px 3px #333;
//   cursor: pointer;
// }
// .thing-pane:hover {
//   transform: scale(1.03);
// }
// .thing-info {
//   width: 100%;
//   position: absolute;
//   bottom: 0;
//   height: 50%;
//   background-color: rgba(0, 0, 0, 0.8);
//   color: white;
//   padding: 10px;
// }
// .thing-info h3 {
//   font-weight: 800;
// }
// .thing-info h5 {
//   color: #6eb5ff;
// }

// .container {
//   box-sizing: border-box;
//   min-height: 100vh;
//   width: 100%;
//   padding: 20px;
// }

/* HeroesComponent's private CSS styles */
// .heroes {
//   margin: 0 0 2em 0;
//   list-style-type: none;
//   padding: 0;
//   width: 15em;
// }

// input {
//   display: block;
//   width: 100%;
//   padding: 0.5rem;
//   margin: 1rem 0;
//   box-sizing: border-box;
// }

// .heroes li {
//   position: relative;
//   cursor: pointer;
// }

// .heroes li:hover {
//   left: 0.1em;
// }

// .heroes a {
//   color: #333;
//   text-decoration: none;
//   background-color: #eee;
//   margin: 0.5em;
//   padding: 0.3em 0;
//   height: 1.6em;
//   border-radius: 4px;
//   display: block;
//   width: 100%;
// }

// .heroes a:hover {
//   color: #2c3a41;
//   background-color: #e6e6e6;
// }

// .heroes a:active {
//   background-color: #525252;
//   color: #fafafa;
// }

// .heroes .badge {
//   display: inline-block;
//   font-size: small;
//   color: white;
//   padding: 0.8em 0.7em 0 0.7em;
//   background-color: #405061;
//   line-height: 1em;
//   position: relative;
//   left: -1px;
//   top: -4px;
//   height: 1.8em;
//   min-width: 16px;
//   text-align: right;
//   margin-right: 0.8em;
//   border-radius: 4px 0 0 4px;
// }

// .add-button {
//   padding: 0.5rem 1.5rem;
//   font-size: 1rem;
//   margin-bottom: 2rem;
// }

// .add-button:hover {
//   color: white;
//   background-color: #42545c;
// }

// button.delete {
//   position: absolute;
//   left: 210px;
//   top: 5px;
//   background-color: white;
//   color: #525252;
//   font-size: 1.1rem;
//   padding: 1px 10px 3px 10px;
// }

// button.delete:hover {
//   background-color: #525252;
//   color: white;
// }

.container {
  box-sizing: border-box;
  background-color: var(--lightgray);
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  border-radius: 30px;
}

.w-100 {
  min-width: 100%;
}

.pointer {
  transition: transform 0.3s;
  cursor: pointer;
}
.pointer:hover {
  transform: scale(1.03);
}
.search-bar-cont {
  display: flex;
  justify-content: center;
}
.search-bar-admin {
  border-style: none;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  justify-content: center;
}

h2 {
  color: var(--primary);
}
