.space {
  flex: 1 1 auto;
}

mat-toolbar {
  background: var(--primary);
}

.svg {
  width: 70%;
  height: auto;
  margin: top 50px;
}

.mat-icon-button {
  color: rgba(255, 255, 255, 1);
}

.mat-menu-item {
  background-color: rgba(255, 255, 255, 1);
}

.span-menu {
  color: var(--primary);
  font-family: var(--font-family);
}
