////// onglet
::ng-deep .mat-tab-labels {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}
::ng-deep .mat-tab-label-content {
  color: white;
}

::ng-deep .mat-tab-label {
  background-color: var(--text-regular);
  color: white;
  border-radius: 3px;
  border: 1px solid var(--primary);
}

::ng-deep .mat-tab-header-pagination {
  background-color: var(--text-regular);
  border: none;
  border-radius: none;
}
//////container/img
.container {
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: var(--text-regular);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  align-items: center;
  & > div {
    margin-bottom: 20px;
  }
}
.img-articles {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.img-article {
  max-width: 65%;
}

///////article

.article-p {
  font-size: 1.2em;
  line-height: 1.4em;
  color: var(--primary);
}

.title-article {
  color: var(--primary);
  text-decoration: underline;
}
.title-article-h2 {
  color: var(--primary);
  text-decoration: underline;
}

////////////////detail
.detail-detail {
  margin-top: 4em;
  border-top: 1px solid;
}
.detail-p {
  text-align: center;
  color: var(--primary);
  font-size: 1.2em;
  padding: 20px;
  margin: 0;
}
.detail-h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--primary);
  text-decoration: underline;
  text-align: center;
}
